:root {
    --black:#000000;
    --white:#FFFFFF;
    --color:#2B8EAD;
    --color1:#333333;
    --color2:#6F98A8;
    --color3:#BFBFBF;
    --color4:#EFEFEF;
    --color5:#2F454E;
    --color6:#72C3DC;
}
*{
    box-sizing: border-box;
}
h1, header, div{
    padding:0;
    margin: 0;
}

body, html{
    background: var(--color4);
    font-size: 100%;
    margin: 0;
    padding:0;
}
header{
    background: var(--white);
    text-align: center;
    padding: 20px;
}
.wrapper{
    display:flex;
    flex-wrap: wrap;
}
.column:first-child{
    flex: 0 0 80%;
}
.column:last-child{
    flex: 0 0 20%;
    text-align: center;
    padding: 25px;
}
button{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 0;
    padding:15px 20px;
    text-align: center;
    background: var(--color6);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
}
.grid{
    display: flex;
    flex-wrap: wrap;
}
.grid-item{
    flex: 0 0 33.3%;
    height:200px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
}
.bg-color1{
    background: var(--color2);
}
.bg-color2{
    background: var(--color);
}
.bg-color3{
    background: var(--color5);
}
.bg-color4{
    background: var(--color3);
}
.bg-color5{
    background: var(--color5);
}
.info{
    text-align: right;
}

@media screen and (max-width: 959px) {
    header{
        background: var(--black);
        color: var(--white)
    }
    .wrapper{
        flex-direction: column-reverse;
    }
    .column:first-child,
    .column:last-child{
        flex: 0 0 100%;
    }
    button{
        display:inline-block;
        width:auto;
    }
  }